body, html{
    margin:0;
    padding:0;   
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    height: 100%;
}

.main-menu{
    margin-top:150px;
    display: flex;
    font-size: 64px;
    gap:25px;
    font-weight: bold;
    flex-direction: column;
    width: 50%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.game-board{
    display:flex;
    flex-direction: column;
    border-left: 4px solid darkgray;
    border-top: 4px solid darkgray;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.singleplayer-game{
    align-self:center;
    justify-content: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: fit-content;
    background-color: lightgray;
    padding: 6px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    position:relative;
}

.singleplayer-game:hover{
    cursor: default;
}

.game-tile-hidden{
    width: 15px;
    height: 15px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    background-color: lightgray;
    padding: 0;
    text-align:center;
    font-weight: 600;
}

.game-tile-shown{
    width: 18px;
    height: 18px;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    background-color: #C0C0C0;
    padding: 0;
    text-align:center;
    font-weight: 600;
}

.game-tile:hover {
    cursor: default;
}

.game-bar{
    box-sizing: border-box;
    height: 33px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom:10px;
}
.game-bar-item{
    width: 38px;
    height:21px;
    font-size: large;
    margin-left:5px;
    margin-right:5px;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    color:red;
    background-color:black;
}
.game-row{
    display:flex;
    flex-direction: row;
}

.game-reset-button{
    height:20px;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width:20px;
    background-color:yellow;
}

.game-reset-button:hover{
    cursor: pointer;
}

.chatbox {
    height: 40%;
    background-color: gray;
}

.chatbox-message-display{
    display:flex;
    flex-direction:column;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.chatbox-message-input{
    width: 100%;
}

.chatbox-message-submit{
    background-color: white;
}

.chatbox-message{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.chatbox-message-username{
    font-weight: bold;
}

.chatbox-message-content{
    font-weight: normal;
    margin-left: 8px;
}

.chatbox-form{
    display: flex;
    flex-direction: row;
}

.opponent-board-display-wrapper {
    display: flex;
    min-width: 300px;
    min-height: 30px;
    border: 1px solid black;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    height: 40%;
    min-height: 200px;
    border: 1px solid black;
}

.leaderboard-entry {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    justify-content: space-between;
}

.leaderboard-header {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    font-weight: bold;
    justify-content: space-between;

}

.game-wrapper {
    display: flex;
    height: 850px;
    flex-direction: row;
}

.leaderboard-chat-wrapper{
    display: flex;
    justify-content: space-around;
    width: 600px;
    height:100%;
    padding-left: 40px;
    padding-right:40px;
    flex-direction: column;
}

#root{
    height:100%;
    width:100%;
}
.app-wrapper{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game-over-display {
    z-index: 2;
    position: absolute;
    width: 99%;
    background-color: lightgray;
    height: 60px;
    border-top: 4px solid darkgray;
    border-bottom: 4px solid darkgray;
}

.game-over-display-text {
    display: flex;
    flex-direction: column;
}

.game-over-display-text-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

.game-over-display-text-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    gap: 20px;
}

.header{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 4px solid lightgray;
    display: flex;
    justify-content: center;
}

.header-content-wrapper {
    width: 60%;
    align-items: center;
    display: flex;
}

.header-content-rightjustified-wrapper {
    display:flex;
    width: 100%;
    justify-content: right;
    gap: 20px;
}

.game-title {
    display: flex;
    flex-direction: column;    
}

.game-title-minesweeper {
    font-weight: bold;
    font-size: 32px;
}

.game-title-royale {
    font-size: 20px;
    display:flex;
    justify-content: end;
}

.login-button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-button:hover{
    cursor: pointer;
}


.create-account-button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.create-account-button:hover{
    cursor: pointer;
}

.create-account-menu-wrapper{
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color:	rgb(105,105,105, 0.5);
    z-index:3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.create-account-menu{
    width: 300px;
    height: 400px;
    background-color: white;
    opacity: 1;
    gap: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
}

.create-account-form {
    width: 100%;
    gap: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-column-create-account{
    display:flex;
    flex-direction: column;
    width: 208px;
}

.create-account-input-box{
    width: 200px;
    height: 30px;
}

.create-account-form-submit-button {
    width: 208px;
    height: 60px;
    font-size: 24px;
    margin-top:5px;
    background-color: blue;
    border-radius: 5px;
    color: white;
}

.create-account-form-submit-button:hover {
    cursor: pointer;
    background-color: #2979FF;
}

.bold-text{ 
    font-weight:bold;
}

.login-menu-wrapper{
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color:darkgray;
    opacity: 0.5;
    z-index:3;
}

.create-account-header{
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
}

.create-account-error-text{
    color: red;
    margin-top: -8px;
}

.create-account-password-subtext{
    font-size: 13px;
    color: gray;
    text-align: center;
}

.create-account-close-menu-button{
    color: gray;
    background: white;
    font-size: 24px;
    border: none;
    margin-bottom: -55px;
    margin-top: 4px;
    margin-left: -260px;
}

.create-account-close-menu-button:hover{
    cursor: pointer;
}

